<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [doughnutChartData]="Grafic1Data" [doughnutChartLabels]="Grafic1Labels"
                          [doughnutChartType]="GraficType" [titulo]="titulo1"></app-grafico-dona>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [doughnutChartData]="Grafic2Data" [doughnutChartLabels]="Grafic2Labels"
                          [doughnutChartType]="GraficType" [titulo]="titulo2"></app-grafico-dona>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [doughnutChartData]="Grafic3Data" [doughnutChartLabels]="Grafic3Labels"
                          [doughnutChartType]="GraficType" [titulo]="titulo3"></app-grafico-dona>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [doughnutChartData]="Grafic4Data" [doughnutChartLabels]="Grafic4Labels"
                          [doughnutChartType]="GraficType" [titulo]="titulo4"></app-grafico-dona>
      </div>
    </div>
  </div>

</div>
